*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px / 16px = 62.5% , therefore 1rem = 10px
}

body{
    font-family: $font-primary;
    background-color: $silk-white;
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

%headings {
    font-family: $font-primary;
  }
  
  h1,
  h2 {
    @extend %headings;
    font-weight: 700;
  }
  
  h3,
  h4 {
    @extend %headings;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }