@font-face {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-display: block;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-display: block;
    src: url('../assets/fonts/OpenSans-Bold.ttf');
}